<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753294925831-mhhlnc1a3arhg9dfvsu1t522eus0f72j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753294925831-mhhlnc1a3arhg9dfvsu1t522eus0f72j</string>
	<key>API_KEY</key>
	<string>AIzaSyCeXfIjcbhddtaTky6kEVq9G0QIPzmYqCM</string>
	<key>GCM_SENDER_ID</key>
	<string>753294925831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jochem-vredeveld.joggler-ios</string>
	<key>PROJECT_ID</key>
	<string>joggler-e9f51</string>
	<key>STORAGE_BUCKET</key>
	<string>joggler-e9f51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753294925831:ios:ee0e045b6a1d708ef60aa2</string>
</dict>
</plist>